@import './mixins';
@import './variables';

.container-project{
    font-family: 'Roboto';
    position: relative;
    max-width: $row-width;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: $horizontal-gutter;

    @include response(tab-port){
        grid-template-columns: auto auto;
        grid-gap: $horizontal-gutter/2;
        padding: 0 5rem;
    }

    @include response(phone){
        grid-template-columns: auto;
        grid-gap: $horizontal-gutter/2;
        margin: 0rem auto;
        padding: 0;
    }
}


.project{

    &__title{
        display: none;
    }

    &__card{
        position: relative;
        margin:0.5rem;
        font-size: $default-font-size;
        background-size: cover;
        height:30rem;
        border-radius: .5rem;
        -webkit-box-shadow: -3px 7px 5px -5px rgba(34, 60, 80, 0.6);
        -moz-box-shadow: -3px 7px 5px -5px rgba(34, 60, 80, 0.6);
        box-shadow: -3px 7px 5px -5px rgba(34, 60, 80, 0.6);
        transition: .5 all ease;

        &:hover{
            transform: scale(1.13rem);
            transform: translateY(-.5rem);
            box-shadow: 0 .4rem 1.8rem .3rem rgba(173,159,173,1);
            transition: transform 1s, box-shadow 1s;
            cursor:pointer;
            background-image: none;
            }
        }
     }

    a {
        text-decoration: none;
        color:$font-color;
    }

    .project__card:hover > .hoverEff{
        background: $accent-color;
        background:  rgba(82, 142, 134, .9) 90%;
        border-radius: .5rem;
        height: 100%;
        width: 100%;
        transition: .5s ease all;
    }

    .project__card:hover > .hoverEff div >.project__title{
        display: block;
        font-size: 4rem;
        position: absolute;
        color: #ffffff;
        @include central;
        transition: .5s ease all;
        z-index: 1000;
    }