$font-color:#9F9797;
$font-color-dark:#636250;

$grey-color:rgb(104, 98, 98);
$grey-color-light:rgb(231, 224, 224);

//new colors
$text-color:#636250;
$accent-color:#528e86;

$default-font-size:1.6rem;
$navigation-fs:3.6rem;

$row-width:120rem;
$horizontal-gutter:3rem;